/* Variables  */
:root {
  --white-color: #fff;
  --background-color: #f1f0f0;
  --disabled-btn-color: #505050;
  --background-btn-color: #202020;
}
.container {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-wrapper {
  background-color: var(--white-color);
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  width: 600px;
  min-height: 250px;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.fields-container {
  width: 100%;
  min-height: 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fields-container input {
  width: 120px;
  height: 80px;
  background: var(--background-color);
  border-radius: 8px;
  border: none;
  outline: none;
  margin-right: 2rem;
  margin-left: 1rem;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btn-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.btn-container button {
  background: var(--background-btn-color);
  border: 1px solid transparent;
  border-radius: 50px;
  color: var(--white-color);
  font-size: 18px;
  padding: 14px 40px;
  margin-right: 2rem;
  margin-bottom: 1rem;
  outline: none;
  transition: all 0.3s linear;
  cursor: pointer;
}
.btn-container button:hover {
  background: transparent;
  border: 1px solid var(--background-btn-color);
  color: var(--background-btn-color);
}
.btn-container button:disabled {
  background: var(--disabled-btn-color);
  cursor: not-allowed;
}
.btn-container button:disabled:hover {
  background: var(--disabled-btn-color);
  color: var(--white-color);
}
.custom-icon {
  font-size: 40px;
  margin-bottom: 10px;
}
